/*.background-color {
	background-color: #00004f;
}*/

.jumbotron {
	background-image: url("./images/darkness.png");
	color: white;
}

.container {
	text-align: center;
}

.header-title {
	font-family: 'Noto Serif', serif;
	font-size: 40px;
}

.header-subtext {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	margin-top: 15px;
}

#button {
	margin: -20px -50px; 
    position:relative;
    left: 49%; 
    margin-top: 12px;
}

/*{ background-color: #F2F6D0 }*/
/*      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }*/
/*      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }*/
    